@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Said Carrera</h1>
    <p>Learn about <a href="">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://images.credly.com/images/3bef627c-a46b-49b4-ab1b-7d0724010c87/blob.png"/>
</div>
